.home {
    position: relative;
    padding: 0;
}

.home .slide {
    display: flex;
    align-items: center;
    min-height: 60vh;
    padding: 2rem 7%;
    background-size: cover !important;
    background-position: center !important;

}

.home .slide .content span {
    display: block;
    color: #333;
    font-size: 2rem;
    animation: fadeIn .4s linear .2s backwards;
}

.home .slide .content h3 {
    text-transform: uppercase;
    color: #333;
    padding: 1rem 0;
    font-size: 6rem;
    animation: fadeIn .4s linear .2s backwards;
}

.dots {
    position: absolute;
    top: 25rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 2rem;
    right: 2rem;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    text-align: center;
}

.dot{color: #eec; }
.activeDot {
    color: blue;
}